@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,200&display=swap');
body {
  font-family: "Raleway", sans-serif;
  color: #181818;
}
#bloc_page {
  width: 100%;
  margin: auto;
  background-color: white;
}
section h1,
footer h1,
nav a {
  font-weight: normal;
}

header, main, .footer {
  margin-left: 2%;
  margin-right: 2%;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#titre_principal {
  display: flex;
  flex-direction: column;
}
#logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#logo img {
  width: 80%;
  height: 50%;
}
header h1 {
  font-family: "BallparkWeiner", serif;
  font-size: 2.5em;
  font-weight: normal;
  margin: 0 0 0 10px;
}
header h2 {
  font-family: Dayrom, serif;
  font-size: 1.1em;
  margin-top: 0px;
  font-weight: normal;
}
/* Navigation */
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  margin-right: 15px;
}
nav a {
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black
}
nav a:hover {
  color: #0065FC;
  border-top: 3px solid #0065FC;
}

/* Filtre */

form.recherche {
  margin: 2em 0em 1em 0em;
}

form.recherche input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #F2F2F2;
  float: left;
  width: 20%;
  background: white;
}

form.recherche div {
  float: left;
  width: 2%;
  padding: 11px;
  background: #F2F2F2;
  color: black;
  font-size: 17px;
  /* border: 1px solid grey; */
  border-left: none;
  cursor: pointer;
  border-radius: 15px 0px 0px 15px;
}

form.recherche button {
  float: left;
  width: 10%;
  padding: 12px;
  background: #0065FC;
  color: white;
  font-size: 13px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 0px 15px 15px 0px;
}

form.recherche button:hover {
  background: #0b7dda;
}

form.recherche::after {
  content: "";
  clear: both;
  display: table;
}
.filtre-general h1 {
  margin-bottom: -0.1em
}

.filtre-general{
  margin-bottom: 0.5em
}
/* Filtrer avec les buttons */

.filtre {
  display: flex;
  flex-wrap: wrap;
}

.filtre-button {
  display: flex;
  flex-wrap: wrap;
}

.filtre .button {
  border-radius: 50px;
  border: 1px solid #F2F2F2;
  padding: 0px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  
}
.icon i {
  color: #0065FC;
}

.clear-icon {
  color: #F2F2F2 !important;
}
.icon-fa-info-circle i {
  color: #F2F2F2;
  background-color: #0b7dda;
  border-radius: 100%;
  border: 1px solid white;
}
.filtre .button .icon{
  border-radius: 50px;
  padding: 10px;
  background-color: #DEEBFF;
}

.label-div{
  margin: 10px;
}

.label-filtre{
  margin: 30px 10px 0px 0px
}

/* Corps */
section {
  display: flex;
  margin-bottom: 20px;
}

article,
aside {
  text-align: justify;
}
#hebergement article {
  margin-right: 30px;
  width: 65%;
}

#activite article {
  flex: 3;
}

.titre-populaire {
  display: flex;
 justify-content: space-between;
 margin: 10px 20px 10px 20px;
 font-size: 18px;
}
aside {
  width: 27%;
  position: relative;
  background-color: #F2F2F2;
  /* box-shadow: 0px 2px 5px #1c1a19; */
  border-radius: 10px;
  padding: 10px;
  font-size: 0.9em;
}

aside img {
  margin-right: 5px;
}

.liste_hebergement {
  background-color: #F2F2F2;
  border-radius: 10px;
  height: auto;
}

.liste_hebergement h2, .afficher-plus {
  margin-left: 40px;
  font-size: 18px;
}

/* section hebergement */

#hebergement {
  display: flex;
  justify-content: space-around;
}

.conteneurs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  width: 225px;
  height: 170px;
  border-radius: 20px;
  background-color: white;
  margin: 15px;
  float: left;
  text-align: center;
  padding: 2px;
}
.gallery img {
  width: 99%;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}

.desc {
  padding: 0px;
  text-align: start;
  font-size: 10px;
  line-height: 5px;
  margin-left: 10px;
}

.etoile-end{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3px;
}

/* aside */

.gallery_populaire {
  display: flex;
  justify-content: flex-start;
  height: 130px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  text-align: center;
  padding: 2px;
}

.gallery_populaire img {
  width: 120px;
  height: auto;
  border-radius: 20px 0px 0px 20px;
}

/* activite */
.conteneurs-activite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.liste_activite {
  /* background-color: #F2F2F2; */
  border-radius: 10px;
  height: auto;
  width: 1200px;
}

.gallery_activite {
  width: 280px;
  height: 320px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px #F2F2F2;
  /* margin: 15px; */
  /* border: 1px solid #ccc; */
  float: left;
  text-align: center;
  /* padding: 5px; */
}
.gallery_activite img {
  width: 100%;
  height: 90%;
  border-radius: 20px 20px 0px 0px;
}

.desc_activite {
  padding-bottom: 10px;
  text-align: start;
  font-size: 12px;
  /* margin: 0px 0px 5px 5px; */
  margin-top: -10px;
  margin-left: 10px;
}

.gallery_activite_two_img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}

.double_img {
  width: 100%;
  height: 150px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px #F2F2F2;
}
.marger-rendre-image {
  margin-top: 20px;
}
.double_img a img {
  width: 100%;
  height: 80%;
  border-radius: 20px 20px 0px 0px;
}

/* Footer */
footer {
  padding: 25px;
  background-color: #F2F2F2;
  /* width: 1000px; */
}

.footer {
  display: flex;
  /* width: 1000px; */
}

.footer ul {
  font-size: 0.8em;
}
.footer h1 {
  font-size: 1.1em;
}
#a_propos {
  width: 32%;
}
#nos_hebergement {
  width: 32%;
}
#assistance {
  width: 32%;
}

.listes_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}
.listes_footer ul {
  list-style-image: url("images/ico_liensexterne.png");
  padding-left: 2px;
}
.listes_footer a {
  text-decoration: none;
  color: #534c4c;
}

.listes_footer ul li {
  list-style-type: none;
}

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px) {}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px) {}
/* Sur tous types d'écrans orientés verticalement */
@media all  and (orientation: portrait){
  /* body */
  #bloc_page
  {
   width: auto;
  }

  /* header */

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #logo img {
    width: 30%;
    height: 10%;
  }

  /* filtre recherche */

  form.recherche input[type="text"] {
    width: 60%;
  }
  
  form.recherche div {
    width: 5%;
  }
  
  form.recherche button {
    width: 25%;
    padding: 12px;
  }

  /* filtre button */
  .filtre-button {
    flex-direction: column;
  }

  /* main */
  /* aside */
  .gallery_populaire {
    width: 90%;
  }

  /* article */
  .gallery {
    width: 90%;
    height: 180px;
  }

  .gallery_activite_two_img {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    width: 50%;
  }

  /* main */

  section
  {
   flex-direction: column;
  }
  article, aside
  {
   width: auto;
   margin-bottom: 15px; 
   }

   .footer {
    flex-direction: column;
   }

   .conteneurs-activite {
    flex-direction: column;
   }

   .conteneurs {
    flex-direction: column;
    width: auto;
   }
   .liste_hebergement {
    width: auto;
    /* background-color: white; */
    box-shadow: 0px 2px 5px #F2F2F2;
   }

   #hebergement article {
    margin-right: 0px;
    width: auto;
  }

  /* activite */
  .gallery_activite {
    /* width: auto; */
    height: 150px;
  }
  .marger-rendre-image1 {
    margin-top: 20px;

  }

  .gallery_activite a img {
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0px 0px;
  }

  /* footer */

  #a_propos {
    width: auto;
  }
  #nos_hebergement {
    width: auto;
  }
  #assistance {
    width: auto;
  }
}